.center{
  text-align: center;
}

.bg img{
  width: auto;
  height: auto;
}

.white{
  color: white;
}

.general{
  padding-top: 30px;
  padding-bottom: 30px;
}

.head{
  width: 250px;
  height: 250px;
}
