.center{
  text-align: center;
}

.bg img{
  width: auto;
  height: auto;
}

.white{
  color: white;
}

.general{
  padding-top: 30px;
  padding-bottom: 30px;
}

.head{
  width: 250px;
  height: 250px;
}

.full-page {
	height: 100%;
	width: 100%;
}

.vertical-line-L {
  border-left: 0.5px solid #E6E6E6;
}

/* Grow from hover.css*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
