<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/>
  <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/navbar.css" rel="stylesheet">
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>